<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  </head>
  <body>


    <header id="header" style="background-color:#123456;">
      <div class="container" >
  
        <div id="logo" class="pull-left" >
  
          <a href="/" class="scrollto" >F.M.S</a>
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="{% block home %}
            {% endblock home %}"><a href="/" >Home</a></li>
                    
            <li><a href="/register">Farmer Register</a></li>
            <li><a href="/addfarming">Add Farming</a></li>
            <li><a href="/farmerdetails">Farmer Details</a></li>
            <li><a href="/agroproducts">Agro Products</a></li>
            <li><a href="/triggers">Records</a></li>
   
         
      
   
     
        
            {% if current_user.is_authenticated  %}
            <li class="buy-tickets"><a href="">Welcome {{current_user.username}}</a></li>
              <li class="buy-tickets"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="buy-tickets"><a href="/signup">Signin</a></li>
          
            {% endif %}
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- End Header -->



    <div id="trigg1">

      {% block body %}


      <h3 class="text-center"><span>Register Farmers Details</span> </h3>
        
      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}

      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}


      </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <br>
      <div class="container">

      <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4">

      <form action="/register" method="post">
      <div class="form-group">

      <label for="rollno">Farmer Name</label>
      <input type="text" class="form-control" name="farmername" id="farmername" placeholder="Enter Name" required>
      </div>
      <br>
      <div class="form-group">

      <label for="adharnumber">Adhar Number</label>
      <input type="number" class="form-control" name="adharnumber" id="adharnumber" placeholder="Enter Adharnumber" required>
      </div>
      <br>
      <div class="form-group">

      <label for="age">Age</label>
      <input type="number" class="form-control" name="age" id="age" placeholder="Enter Age" required>
      </div>
      <br>

      <div class="form-group">  
        <label for="gender">Gender</label>                        
        <select  class="form-control" id="gender" name="gender"  required>
              <option selected>Select Gender</option>
          
              <option value="male">Male</option>
              <option value="female">Female</option>
            
            </select>
      </div>
      <br>


      <div class="form-group">
      <label for="num">Phone Number</label>
      <input type="number" class="form-control" name="phonenumber" id="phonenumber" placeholder="Enter phonenumber" required>
      </div>
      <br>

      <div class="form-group">
      <label for="address">Address</label>
      <textarea class="form-control" name="address" id="address" placeholder="Enter Address" required></textarea>
      </div>
      <br>

      <div class="form-group">
        <label for="farmingtype">Farming</label>                          
      <select class="form-control" id="farmingtype" name="farmingtype"  required>
              <option selected>Select Farming</option>
              {% for d in farming  %}
              <option value="{{d.farmingtype}}">{{d.farmingtype}}</option>
              {% endfor %}
            </select>
      </div>
      <br>
        
        <button type="submit" class="btn btn-success  btn-block">Save Records</button>
      </form>
      <br>
      <br>

      </div>

      <div class="col-md-4"></div>

      </div></div>



      {% endblock body %}



      

    </div>



    
    
  
  </body>
</html>



